#pourquoi-nous{
    text-align: center;
    margin-top: 2em;
    color: $first-color;
    margin-bottom: 6em;
    .titre-pourquoi-nous{
        font-weight: bold;
        text-transform: uppercase;
        @include titre-margin;
        position: relative;
        &::before{
            @include font-icon('\f2bd');
        }
        &::after{
            content: ' ';
            width: 53px;
            height: 3px;
            background: $first-color;
            display: inline-block;
            position: absolute;
            top: 140%;
            right: 50%;
            transform: translate(19%);
        }
    }
    .paragraphe-pourquoi-nous{
    }
}
#nos-services{
    border-top: 1px solid;
    padding-bottom: 3em;
    .titre-nos-services{
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        @include titre-margin;
        position: relative;
        &::before{
            @include font-icon('\f1c9');
        }
        &::after{
            content: ' ';
            width: 53px;
            height: 3px;
            background: $first-color;
            display: inline-block;
            position: absolute;
            top: 140%;
            right: 50%;
            transform: translate(19%);
        }
    }
    .pole-nos-services{
        text-align: center;
        padding: 1em;
        border: 3px solid;
        border-radius: 41px;
        max-height: 35em;
        height: 100%;
        padding-bottom: 2em;
        position: relative;
        overflow: hidden;
        .info-nos-services{
            .titre-pole-nos-services{
                margin: 0.5em;
                padding: 0px 3em;
                text-transform: uppercase;
            }
            .paragraphe-pole-nos-services{
                margin-bottom: 2rem;
            }
            .image-pole-nos-services{
                width: 100%;
                max-width: 300px;
                margin: 1em 0;
            }
            .en-savoir-pole-nos-services{
                color: black;
            }
            @media (max-width: 1399.98px) {
                .titre-pole-nos-services{
                    padding: 0;
                }
            }
            @media (max-width: 1199.98px) {
                .titre-pole-nos-services{
                    padding: 0px 1em;
                }
            }
        }
        .overlay-nos-services{
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            background-color: rgba(20,79, 134, 0.8);
            overflow: hidden;
            width: 100%;
            height:0;
            transition: .5s ease;
            .en-savoir-pole-nos-services{
                @include center-element;
                color: white;
                text-decoration: none;
                padding: 10px 20px;
                background-color: $first-color;
                font-weight: bold;
                transition: 0.3s ease-in-out;
                &:hover{
                    color: $first-color;
                    background: white;
                }
            }
        }
        &:hover{
            .overlay-nos-services{
                bottom: 0;
                height: 100%;
            }
        }
    }
    @media (max-width: 991.98px) {
        .pole-nos-services{
            margin-bottom: 6em;
        }
    }
}
#qualite{
    padding-top: 3em;
    padding-bottom: 4px;
    .texte-qualite{
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .image-qualite{
        img{
            clip-path: polygon(34% 0, 100% 0, 75% 100%, 0% 100%);
            width: 100%;
            max-width: 100%;
        }
    }
    @media (max-width: 991.98px) {
        position: relative;
        padding-top: 0;
        padding-bottom: 1em;
        .texte-qualite{
            @include center-element;
            z-index: 20;
            background-color: white;
            padding: 10px;
        }
        .image-qualite{
            z-index: 10;
        }
    }
    @media (max-width: 575.98px) {
        .texte-qualite{
            position: relative;
            transform: none;
            top: 0;
            left: 0;
        }
    }
}

#objectif-clair{
    background-color: $first-color;
    color: white;
    padding: 3em 0;
    margin-bottom: 3px;
    .titre-objectif-clair{
        text-align: center;
        margin-bottom: 3em;
        text-transform: uppercase;
        position: relative;
        text-decoration: underline;
        &::before{
            @include font-icon('\f080');

        }
    }
    .argument-objectif-clair{
        text-align: center;
        .image-argument-objectif-clair{
            img{
                max-width: 300px;
                width: 100%;
            }
        }
        .texte-argument-objectif-clair{
            text-align: center;
            padding: 2em 4em;
        }
    }
}

#teaser-conseils{
    padding: 3em 0;
    .titre-teaser-conseils{
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        position: relative;
        font-weight: bold;
        margin-bottom: 3em;
        &::before{
            @include font-icon('\f0eb');

        }
        &::after{
            content: ' ';
            width: 53px;
            height: 3px;
            background: $first-color;
            display: inline-block;
            position: absolute;
            top: 140%;
            right: 50%;
            transform: translate(19%);
        }

    }
    .bloc-teaser-conseils{
        padding: 1em;
        margin-bottom: 2em;
        color: $third-color;
        background: $grey;
        position: relative;
        .image-teaser-conseils{
            max-width: 435px;
            width: 100%;
            height: 253px;
            object-fit: cover;
        }
        .titre-contenue-teaser-conseils{
            text-transform: uppercase;
            margin-bottom: 0;
        }
        .categorie-teaser-conseils{
            color: grey;
            font-weight: bold;
        }
        .paragraph-teaser-conseils{
            margin-top: 1em;
        }
        .savoir-plus-teaser-conseils{
            color: $third-color;
        }
        .date-teaser-conseils{
            position: absolute;
            color: grey;
            bottom: 7%;
            right: 3%;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    @media (max-width: 991.98px) {
        .titre-teaser-conseils{
            margin-bottom: 2em;
        }
        .bloc-teaser-conseils{
            text-align: center;
            .titre-contenue-teaser-conseils{
                margin-top: 0.5em;
            }
            .date-teaser-conseils{
                bottom: 1%;
            }
        }
    }
}
.bouton-listing{
    margin-top: 2em;
    border: 1px solid $third-color;
    padding: 10px 2em;
    color: $third-color;
    text-decoration: none;
    font-size: 1.4em;
    border-radius: 10px;
    transition: 0.3s;
    &:hover{
        background-color: $third-color;
        color: white;
    }
}
#blog-listing{
    .bloc-blog-listing{
        margin: 1em;
        text-align: center;
        position: relative;
        .image-blog-listing{
            width: 100%;
            object-fit: cover;
        }
        .titre-blog-listing{
            color: white;
            position: absolute;
            bottom: -3%;
            padding: 10px;
            background-color: $third-color;
            width: 100%;
            text-transform: uppercase;
        }
    }
}
#blog-article{
    background-color: $grey;
    padding: 2em;
    margin: 1em;
    .titre-blog-article{

    }
    .paragraph-blog-article{
        & > span{
            text-decoration : underline;
        }
        .bouton-blog-article{
            display: block;
            position: relative;
            left: 50%;
            background: white;
            padding: 10px 2em;
            transform: translate(-50%);
            font-size: 1.4em;
            border-radius: 35px;
            border: none;
            margin: 1em 0;
            color: $third-color;
            font-weight: bold;
        }
    }
}

#formulaire-contact{
    .titre-formulaire-contact{
        margin: 2EM 0;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        &::before{
            @include font-icon('\f2bb');
            padding-right: 0.3em;
        }

    }
    form{
        background-color: $grey;
        padding: 2em;
        margin: 0 13EM;
        font-weight: bold;
        font-size: 1.5em;
        color: $first-color;
        input{
            width: 100%;   
        }
        input[type=submit]{
            margin: 1em 0;
            background: white;
            font-weight: bold;
            color: $third-color;
            border : none;
            padding: 10px;
        }
        label{
            
        }
    }
    @media (max-width: 1199.98px) {
        form{
            margin: 0 7EM;
        }
    }
    @media (max-width: 991.98px) {
        form{
            margin: 0 4EM;
        }
    }
    @media (max-width: 767.98px) {
        form{
            margin: 0 2EM;
        }
    }
    @media (max-width: 575.98px) {
        form{
            margin : 0;
        }
    }
}
