footer{
    background-image: url('../asset/image-galaxie.jpeg');
    color: white;
    text-align: center;
    padding: 3em 0;
    height: auto;
    position: relative;
    z-index: 1;
    &::before{
        left: 0;
        content: "";
        z-index: 10;
        position: absolute;
        background-color: $third-color;
        width: 100%;
        opacity: 0.8;
        top: 0;
        height: 18.5em;
    }
    .brand-name{
        z-index : 20;
        position: relative;
    }
    .nav{
        display: block;
        z-index : 20;
        position: relative;
        .nav-item{
            .nav-link{
                color: white;
                padding: 0.2em;
            }
        }
    }
}