header{
    background: $first-color;
    .navbar{
        .navbar-brand{
            color: white;
            font-size: 1.5em;
        }
        .nav{
            .nav-item{
                transition: all 0.2s ease-in-out;
                padding: 0 1.2em;
                .nav-link{
                    color: white;
                }
                &:hover{
                    .nav-link{
                        opacity: 0.8;
                    }
                }
            }
            .dot{
                width: 6px;
                height: 6px;
                background: white;
                border-radius: 50%;
                opacity: 0;
                transform: translate(-700px, 32px);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }
            .nav-item:nth-child(1):hover ~ .dot{
                transform: translate(-505px, 32px);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                opacity: 1;
            }
            .nav-item:nth-child(2):hover ~ .dot{
                transform: translate(-357px, 32px);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                opacity: 1;
            }
            .nav-item:nth-child(3):hover ~ .dot{
                transform: translate(-226px, 32px);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                opacity: 1;
            }
            .nav-item:nth-child(4):hover ~ .dot{
                transform: translate(-87px, 32px);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                opacity: 1;
            }
        }
    }
    .menu-responsive{
        display: none;
        color: white;
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 4px;
    }
    @media (max-width: 991.98px) {
        .nav{
            display: none;
        }
        .menu-responsive{
            display: block;
        }
    }
}
#featured-top{
    margin-top: 0.1em;
    .background-featured-top{
        background-image:url('../asset/image-dev.jpeg');
        width: 100%;
        height: 30em;
        z-index: 0;
        position: relative;
        background-size: cover;
        &:before{
            left: 0;
            content: "";
            z-index: 10;
            position: absolute;
            background-color: #001A2C;
            width: 100%;
            opacity: 0.8;
            top: 0;
            height: 30em;
        }
        .texte-featured-top{
            text-align: center;
            z-index: 20;
            color: white;
            @include center-element;
            .titre-featured-top{
                font-weight: 600;
            }
            .paragraphe-featured-top{
                font-size: 1.2em;
            }
            .boutton-featured-top{
                padding: 0.5em 2em;
                color: $first-color;
                text-decoration: none;
                background-color: white;
                border-radius: 10px;
            }
        }
    }
    @media (max-width: 575.98px) {
        .boutton-featured-top{
            padding: 0.5em;
            font-size: 0.8em;    
        }
        .paragraphe-featured-top{
            font-size: 1em !important;
        }
    }
}
#featured-top-outside{
    margin-top: 2px;
    .background-featured-top-outside{
        background-image:url('../asset/image-dev.jpeg');
        width: 100%;
        height: 18em;
        z-index: 0;
        position: relative;
        background-size: cover;
    }
    .titre-featured-top-outside{
        @include center-element;
        background-color: $first-color;
        padding: 0.2em 2em;
        text-transform: uppercase;
        color: white;
    }
}