@mixin font-icon($icon) {
    content: fa-content($icon);
    font-family: 'Font Awesome 5 Free';
  }
  @mixin titre-margin{
    margin: 3em 0;
  }
  @mixin center-element{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }